# ================================
#   Tmux Configuration
# ================================

# Prefix
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# Splits
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# Navigation like Vim
bind -r h select-pane -L
bind -r j select-pane -D
bind -r k select-pane -U
bind -r l select-pane -R

# Resize panes
bind -r < resize-pane -L 5
bind -r > resize-pane -R 5
bind -r + resize-pane -U 5
bind -r - resize-pane -D 5

# Status bar
set -g status-bg colour236
set -g status-fg white
set -g status-left "#[fg=green]#H"
set -g status-right "#[fg=cyan]%Y-%m-%d #[fg=yellow]%H:%M"

# Mouse support
set -g mouse on
