" ================================
"   Vim Configuration
" ================================

set nocompatible
set encoding=utf-8
syntax on
filetype plugin indent on

" UI Enhancements
set number
set relativenumber
set cursorline
set showmatch
set ruler
set laststatus=2

" Colors
set termguicolors
set background=dark
colorscheme gruvbox

" Indentation
set expandtab
set tabstop=4
set shiftwidth=4
set smartindent

" Search
set ignorecase
set smartcase
set incsearch
set hlsearch

" Scrolling
set scrolloff=8
set sidescrolloff=8

" Clipboard
set clipboard=unnamedplus

" Performance
set lazyredraw
set ttyfast

" Key Mappings
let mapleader=","
set timeout
set timeoutlen=300
inoremap jk <Esc>
inoremap jj <Esc>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap <C-Up>    :resize +2<CR>
nnoremap <C-Down>  :resize -2<CR>
nnoremap <C-Left>  :vertical resize -2<CR>
nnoremap <C-Right> :vertical resize +2<CR>

nnoremap <leader><space> :nohlsearch<CR>

" Plugin Manager (vim-plug)
call plug#begin('~/.vim/plugged')
Plug 'morhetz/gruvbox'
Plug 'dracula/vim'
Plug 'preservim/nerdtree'
Plug 'itchyny/lightline.vim'
Plug 'tpope/vim-fugitive'
Plug 'sheerun/vim-polyglot'
call plug#end()

" Lightline
let g:lightline = { 'colorscheme': 'wombat' }

" NERDTree toggle
nnoremap <C-n> :NERDTreeToggle<CR>
